<h2>Edit ToDo</h2>
<div class="edit-content">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="todo.title" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="todo.description" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Author</mat-label>
    <input matInput [(ngModel)]="todo.author" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Priority</mat-label>
    <input matInput [(ngModel)]="todo.priority" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Date</mat-label>
    <input matInput [(ngModel)]="todo.date" />
  </mat-form-field>
</div>
<div class="dialog-actions">
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="todo" color="primary">
    Save editing
  </button>
</div>
