.todo-container {
  width: 800px;
  input {
    width: 795px;
    line-height: 25px;
  }

  .todo-list {
    margin-bottom: 2px;
    line-height: 30px;
  }
  .active {
    background-color: rgb(209, 231, 245);
  }
  .inactive {
    background-color: #ffffff;
  }
  // .list-title {
  //   font-size: 16p;
  //   font-weight: 500;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;

  //   .headers {
  //     margin-left: 26px;
  //     margin-right: 26px;
  //     color: rgb(87, 85, 87);
  //     .lef {
  //       padding-right: 20px;
  //     }
  //   }
  // }
}
