.todo-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-bottom: 30px;

  Button {
    margin-top: 10px;
    line-height: 25px;
    background-color: rgb(209, 231, 245);
  }
}
input {
  line-height: 25px;
}
