.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  .todo-heading {
    margin-bottom: 20px;
    margin-top: 15px;
    font-size: 30px;
    color: rgb(58, 57, 57);
  }
}
